## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,46.06,scattered clouds,66,40,5.75,AR,2022-08-31 22:22:14
1,1,Saint-Francois,46.4154,3.9054,63.84,clear sky,82,0,2.30,FR,2022-08-31 22:22:14
2,2,Ambulu,-8.3450,113.6058,72.61,overcast clouds,93,94,3.22,ID,2022-08-31 22:22:14
3,3,Banda Aceh,5.5577,95.3222,78.69,broken clouds,81,84,9.82,ID,2022-08-31 22:22:15
4,4,Half Moon Bay,37.4636,-122.4286,88.57,clear sky,60,0,19.57,US,2022-08-31 22:22:15

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Banda Aceh,5.5577,95.3222,78.69,broken clouds,81,84,9.82,ID,2022-08-31 22:22:15
4,4,Half Moon Bay,37.4636,-122.4286,88.57,clear sky,60,0,19.57,US,2022-08-31 22:22:15
7,7,Hamilton,39.1834,-84.5333,83.25,scattered clouds,50,40,10.36,US,2022-08-31 22:18:59
8,8,Camocim,-2.9022,-40.8411,77.76,clear sky,75,2,12.95,BR,2022-08-31 22:22:16
10,10,Albany,42.6001,-73.9662,77.41,few clouds,56,24,7.29,US,2022-08-31 22:18:07
12,12,Kapaa,22.0752,-159.3190,84.18,clear sky,63,0,11.50,US,2022-08-31 22:22:17
17,17,Jamestown,42.0970,-79.2353,76.01,few clouds,44,20,18.41,US,2022-08-31 22:18:07
21,21,Puerto Ayora,-0.7393,-90.3518,76.96,overcast clouds,91,91,8.99,EC,2022-08-31 22:22:19
25,25,Faanui,-16.4833,-151.7500,78.49,scattered clouds,61,36,19.57,PF,2022-08-31 22:22:20
27,27,Ternate,0.8000,127.4000,79.65,scattered clouds,80,41,2.33,ID,2022-08-31 22:22:21

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                248
City                   248
Lat                    248
Lng                    248
Max Temp               248
Current Description    248
Humidity               248
Cloudiness             248
Wind Speed             248
Country                248
Date                   248
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Banda Aceh,5.5577,95.3222,78.69,broken clouds,81,84,9.82,ID,2022-08-31 22:22:15
4,4,Half Moon Bay,37.4636,-122.4286,88.57,clear sky,60,0,19.57,US,2022-08-31 22:22:15
7,7,Hamilton,39.1834,-84.5333,83.25,scattered clouds,50,40,10.36,US,2022-08-31 22:18:59
8,8,Camocim,-2.9022,-40.8411,77.76,clear sky,75,2,12.95,BR,2022-08-31 22:22:16
10,10,Albany,42.6001,-73.9662,77.41,few clouds,56,24,7.29,US,2022-08-31 22:18:07
...,...,...,...,...,...,...,...,...,...,...,...
682,682,Amli,20.2833,73.0167,78.19,light rain,89,91,1.79,IN,2022-08-31 22:40:22
684,684,Maraba,-5.3686,-49.1178,84.38,clear sky,51,0,0.00,BR,2022-08-31 22:40:22
685,685,Gazanjyk,39.2446,55.5154,79.79,clear sky,14,0,6.42,TM,2022-08-31 22:40:23
689,689,Biak,-0.9131,122.8766,76.89,broken clouds,79,51,6.49,ID,2022-08-31 22:40:24
691,691,Barra Do Garcas,-15.8900,-52.2567,82.81,few clouds,28,11,3.20,BR,2022-08-31 22:40:25

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Banda Aceh,ID,78.69,broken clouds,5.5577,95.3222,
4,Half Moon Bay,US,88.57,clear sky,37.4636,-122.4286,
7,Hamilton,US,83.25,scattered clouds,39.1834,-84.5333,
8,Camocim,BR,77.76,clear sky,-2.9022,-40.8411,
10,Albany,US,77.41,few clouds,42.6001,-73.9662,
12,Kapaa,US,84.18,clear sky,22.0752,-159.3190,
17,Jamestown,US,76.01,few clouds,42.0970,-79.2353,
21,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,
25,Faanui,PF,78.49,scattered clouds,-16.4833,-151.7500,
27,Ternate,ID,79.65,scattered clouds,0.8000,127.4000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Banda Aceh,ID,78.69,broken clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
4,Half Moon Bay,US,88.57,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
7,Hamilton,US,83.25,scattered clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
8,Camocim,BR,77.76,clear sky,-2.9022,-40.8411,Ilha Praia Hotel
12,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
682,Amli,IN,78.19,light rain,20.2833,73.0167,Hotel Soubhagya Inn
684,Maraba,BR,84.38,clear sky,-5.3686,-49.1178,Hotel Del Principe
685,Gazanjyk,TM,79.79,clear sky,39.2446,55.5154,Railway motel
689,Biak,ID,76.89,broken clouds,-0.9131,122.8766,Penginapan Kim
691,Barra Do Garcas,BR,82.81,few clouds,-15.8900,-52.2567,Pousada Tropical

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))